@import url("fonts/librebaskerville/stylesheet.css");
@import url("fonts/youngserif/stylesheet.css");
@import url("fonts/inknut/stylesheet.css");
@import url("fonts/oldstandard/stylesheet.css");
@import url("http://fonts.googleapis.com/css?family=Fira+Sans:400,300italic,300,400italic,500,500italic,700,700italic&subset=latin,latin-ext");
body {
  color: #970000;
  font-size: 20px;
  line-height: 31px;
  font-family: 'Fira Sans';
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  vertical-align: baseline;
}
body a,
body i,
body em,
body h1 {
  font-weight: normal;
  font-style: normal;
}
body i,
body em {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 300;
}
body a {
  color: #0030a2;
}
body .content {
  margin-top: 30px;
  margin-left: 30px;
}
body .content a {
  max-width: 30%;
  overflow: hidden;
  text-overflow: '…';
  white-space: nowrap;
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: -2px;
  text-decoration: none;
  font-family: 'old_standard_ttitalic';
}
body .content a:hover {
  text-decoration: underline;
}
body ul {
  margin: 0;
  padding: 0;
}
body ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
body .menuHome,
body .menu {
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  padding-top: 10px;
  padding-bottom: 0px;
  background: #fff;
  font-size: 28px;
  font-family: 'Fira Sans';
  z-index: 1000;
}
body .menuHome .pourquoi,
body .menu .pourquoi {
  font-family: 'Fira Sans';
  position: absolute;
  right: 0px;
  text-decoration: none;
}
body .menuHome .pourquoi:hover,
body .menu .pourquoi:hover {
  font-style: italic;
}
body .menuHome .pourquoi:hover:before,
body .menu .pourquoi:hover:before {
  content: "Pourquoi";
}
body .menuHome h1,
body .menu h1 {
  font-size: 32px;
  display: inline;
}
body .menuHome h1 a,
body .menu h1 a {
  color: #970000;
  text-decoration: none;
}
body .menuHome h1 a:hover,
body .menu h1 a:hover {
  color: #0030a2;
}
body .menuHome ul,
body .menu ul {
  display: inline-block;
  vertical-align: top;
  max-width: 79%;
}
body .menuHome ul li,
body .menu ul li {
  font-family: 'Fira Sans';
  color: #0030a2;
}
body .menuHome ul li span,
body .menu ul li span,
body .menuHome ul li a,
body .menu ul li a {
  text-decoration: none;
}
body .menuHome ul li a:hover,
body .menu ul li a:hover {
  border-bottom: 2px solid #0030a2;
}
body .menuHome ul ul,
body .menu ul ul {
  margin-left: 50px;
}
body .menuHome .bigCat a,
body .menu .bigCat a {
  font-style: bold;
  font-weight: 500;
}
body .menuHome .sousCat a,
body .menu .sousCat a {
  font-weight: normal;
  font-style: normal;
  text-transform: lowercase;
}
body .menu {
  position: fixed;
  width: 100%;
}
body .menu ul {
  max-height: 450px;
  max-width: 35%;
  overflow-y: auto;
  padding-bottom: 15px;
}
body .menu ul .current:after {
  content: '↓';
}
body .menu ul .current:hover {
  cursor: s-resize;
  border-bottom: 2px solid #0030a2;
}
body .menu .bigCat a {
  font-weight: normal;
  font-style: normal;
  text-transform: lowercase;
}
